body {
  color: black;
  background-color: lightblue;
  font-family: Lato, Arial;
  text-align: center;
}

p {
  font-size:14pt;
}

li {
  padding-bottom: 10px;
  text-align: center;
  font-size:15pt;
}

h1 {
  color: red;
}

h2 {
  padding-top: 50px;
}
h3 {
  color:rgb(52,  45,  126);
}